.course.p-y
  .col-md-2.p-a-0
    img(src='http://placehold.it/200x200')
  .col-md-7.content
    h4.pull-left Course Title Goes Here
    .clearfix
    p.text-small Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  .col-md-3
    .m-b-lg
    .pull-right.btn.btn-primary.btn-block Enroll Now
  .clearfix
