.container
  .row
    +title( 'You Belong at AFAA', 'Discover how to take the first step now.' )
  .col-lg-8.m-b-lg.col-lg-push-2
    form(action='http://certify.nasm.org/acton/eform/14843/0039/d-ext-0001', method='POST')
      input(type='hidden', name='Topic', value='AFAA')
      .form-group.row
        .col-sm-6
          input.form-control(placeholder='First Name', name='First Name')
        .col-sm-6
          input.form-control(placeholder='Last Name', name='Last Name')
      .form-group.row
        .col-sm-6
          input.form-control(placeholder='Email Address', name='Email Address')
        .col-sm-6
          input.form-control(placeholder='Phone Number', name='Phone')
      .row
        .col-sm-10.col-sm-push-1.col-md-4.col-md-push-4
          button.btn.btn-primary.btn-block.btn-lg.text-uppercase Subscribe
