.container
  .row
    +title( 'You Belong at AFAA', 'Discover how you can become part of the AFAA family.', 'm-b-md' )
  .row
    .col-lg-8.m-b-lg.col-lg-push-2
      div#acton1(action='http://nasm-dev.actonservice.com/acton/eform/15912/000c/d-ext-0001', method='POST')
        input(type='hidden', name='Topic', value='AFAA')
        fieldset.form-group
          .col-sm-6.m-b
            input.form-control(placeholder='First Name', name='First Name', required)
          .col-sm-6.m-b
            input.form-control(placeholder='Last Name', name='Last Name', required)
        fieldset.form-group
          .col-sm-6.m-b
            input.form-control(placeholder='Email Address', name='Email Address', required)
          .col-sm-6.m-b
            input.form-control(placeholder='Phone Number', name='telephone1', required)
        .row.m-t
          .col-sm-10.col-sm-push-1.col-md-4.col-md-push-4.m-t
            button.btn.btn-primary.btn-block.text-uppercase Subscribe
