.hero.m-b-lg
  .container.p-a-lg
    .row
      .m-t-lg.hidden-sm-down
      .col-md-7.col-lg-6.col-xl-5.text-center-xs-down
        h1.text-center.text-uppercase.text-bold Motivate. Inspire. Move.
          //- br
          //- span.text-primary For Over 30 Years
        a(href='/products/group-x').btn.btn-primary.btn-lg.center-block Get started now.
        //- p.text-center.p-t.m-b-0 Questions? (800) 555-5555
