.container
  .row
    .col-lg-9.text-center-xs-down
      h1 Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .row
        .col-sm-6
          button.btn.btn-secondary-outline.btn-lg.btn-block Become a Trainer
          p.hidden-xs-down.text-center.p-t Questions? (800) 555-5555
          .row
            .col-xs-8.col-xs-push-2
              button.hidden-sm-up.btn.btn-secondary-outline.btn-block.m-t 
                i.fa.fa-phone
                |  (800) 555-5555
hr.m-b-lg.m-t-lg
