.hero.m-b-lg
  .container.p-a-lg
    .row
      .m-t-md.hidden-sm-down
      .col-md-7.col-lg-6.col-xl-5.text-center-xs-down
        h1.text-center.text-uppercase.text-bold Leading Group Fitness Certification
          br
          span.text-primary For Over 30 Years
        button.btn.btn-primary.btn-lg.center-block Get Started Today
        p.text-center.p-t.m-b-0 Questions? (800) 555-5555
