.container
  .col-md-12.m-b-lg
    h2.text-center What Our AFAA Instructors Say
    h5.text-center Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do
  .col-sm-6.trainer-testimonial
    img.circle(src='http://placehold.it/120x120')
    .clearfix.hidden-lg-up
    h5 Matty Muscles
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  .col-sm-6.trainer-testimonial
    img.circle(src='http://placehold.it/120x120')
    .clearfix.hidden-lg-up
    h5 Matty Muscles
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
hr.m-b-lg.m-t-lg
