.container
  .row
    +title( 'Giving You the Edge', "Browse AFAA's many discipines to find exactly what you are looking for" )
  .row
    .col-lg-8.col-lg-push-2.m-b-lg
      .row
        .col-md-6.edge-block
          .border.top
            img(src=assets+'/images/list1.jpg').pull-left.m-r
            p.m-t-lg Personal Trainer Certification
            .clearfix
        .col-md-6.edge-block
          .border.top
            img(src=assets+'/images/list2.jpg').pull-left.m-r
            p.m-t-lg Kick Boxing Certification
            .clearfix
        .col-md-6.edge-block
          .border
            img(src=assets+'/images/list3.jpg').pull-left.m-r
            p.m-t-lg Military Fitness Specialist Certification
            .clearfix
        .col-md-6.edge-block
          .border
            img(src=assets+'/images/list4.jpg').pull-left.m-r
            p.m-t-lg Pilates
            .clearfix
    .col-md-12.m-b-lg
      p.text-center
        span.p-r-lg And Many More 
        button.btn-primary.btn-lg See All Certifications
    include ../block/quote
  .clearfix
  hr.m-b-lg.m-t-lg
