.container
  .row
    .col-md-12.m-bb
      h2.text-center Why Choose AFAA
      h5.text-center Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do
    .col-sm-12.col-md-6
      ul.no-bull.p-l-0
        li
          img.m-r(src='http://placehold.it/60x60') 
          | Lorem ipsum dolor sit amet
        li
          img.m-r(src='http://placehold.it/60x60') 
          | Lorem ipsum dolor sit amet
    .col-md-6.hidden-sm-down
      ul.no-bull
        li
          img.m-r(src='http://placehold.it/60x60') 
          | Lorem ipsum dolor sit amet
        li
          img.m-r(src='http://placehold.it/60x60') 
          | Lorem ipsum dolor sit amet
hr.m-b-lg.m-t-lg
