.container
  .row
    .col-md-12.m-b-lg
      h2.text-center.text-bold.text-uppercase Giving You the Edge
      h5.text-center Browse AFAA's many discipines to find exactly what you are looking for
    .col-sm-12.col-md-4.col-md-push-2
      ul.no-bull.p-l-0
        li.m-b
          img.m-r(src='http://placehold.it/120x120') 
          | Personal Trainer Certification
        li.m-b
          img.m-r(src='http://placehold.it/120x120') 
          | Kick Boxing Certification
    .col-md-4.col-md-push-2.hidden-sm-down
      ul.no-bull
        li.m-b
          img.m-r(src='http://placehold.it/120x120') 
          | Military Fitness Specialist Certification
        li.m-b
          img.m-r(src='http://placehold.it/120x120') 
          | Pilates
    .col-md-12
      p.text-center And Many More 
        button.btn-primary.btn-lg.text-uppercase See All Certifications
    .col-md-5.col-md-push-1
      blockquote something
      p - who
    .col-md-5
      blockquote something
      p - who
hr.m-b-lg.m-t-lg
