.container
  .row
    +title( 'Giving You the Edge', "Browse AFAA's many discipines to find exactly what you are looking for" )
    .col-sm-12.col-md-4.col-md-push-2
      ul.no-bull.p-l-0
        li.m-b
          img.m-r(src='http://placehold.it/120x120') 
          | Personal Trainer Certification
        li.m-b
          img.m-r(src='http://placehold.it/120x120') 
          | Kick Boxing Certification
    .col-sm-12.col-md-4.col-md-push-2
      ul.no-bull.p-l-0
        li.m-b
          img.m-r(src='http://placehold.it/120x120') 
          | Military Fitness Specialist Certification
        li.m-b
          img.m-r(src='http://placehold.it/120x120') 
          | Pilates
    .col-md-12.m-b-lg
      p.text-center And Many More 
        button.btn-primary.btn-lg.text-uppercase See All Certifications
    include ../block/quote
  .clearfix
  hr.m-b-lg.m-t-lg
