.container
  .col-md-12
    h2.text-center American Fitness Magazine
    h5.text-center.m-b-lg Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do
  .col-md-6
    img(src='http://placehold.it/540x240')
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  .col-md-push-1.col-md-5
    h4.m-b
      i.fa.fa-newspaper-o
      |  Fresh Stories
    h5 Lorem ipsum dolor
    p Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod
    hr
    h5 Lorem ipsum dolor
    p Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod
    hr
    h5 Lorem ipsum dolor
    p Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod
    hr
    h5 Lorem ipsum dolor
    p Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod
hr.m-b-lg.m-t-lg
