.container
  +title( 'American Fitness Magazine', 'Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do' )
  .col-md-7
    .afm.m-b
      img(src='/images/afm1.jpg').m-r
      img(src='/images/afm2.jpg').m-r
      img(src='/images/afm3.jpg').m-r
      img(src='/images/afm4.jpg')
    p.m-r-lg Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  .col-md-5
    h5 Lorem ipsum dolor
    p Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod
    hr
    h5 Lorem ipsum dolor
    p Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod
    hr
    h5 Lorem ipsum dolor
    p Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod
  .clearfix
  hr.m-b-lg.m-t-lg
