.container
  +title( 'American Fitness Magazine', 'Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do' )
  .col-md-7
    .m-r
      .afm.row
        .col-sm-3.col-xs-6
          img(src=assets+'/images/afm1.jpg', alt='American Fitness Magazine')
        .col-sm-3.col-xs-6
          img(src=assets+'/images/afm2.jpg', alt='American Fitness Magazine')
        .col-sm-3.col-xs6.hidden-xs-down
          img(src=assets+'/images/afm3.jpg', alt='American Fitness Magazine')
        .col-sm-3.col-xs6.hidden-xs-down
          img(src=assets+'/images/afm4.jpg', alt='American Fitness Magazine')
      p This issue's cover: 
        span.text-primary Maria Kang
        |  The "No-Excuses" mom of three who started a fitness revolution and a social media frenzy by keeping in shape despite her hectic schedule.
  .col-md-5
    span.text-primary Outrageous Starts and Finishes
    p Change it up to bring a fresh perspective and energy to your classes and clients with these approaches by industry-expert, Lawrence Biscontini.
    hr
    span.text-primary Motivating People for Better Health
    p This issue’s CEU Corner. Will the new food label be enough to change our current eating habits to healthier choices?
    hr
    span.text-primary Get Your Rear in Gear
    p The pursuit of stronger glutes can bring a positive impact to the body’s mechanics and performance. See what it takes to get them strong.
    hr
    span.text-primary You Belong At AFAA
    p Discover how you can become part of the AFAA family.
  .clearfix
  hr.m-b-lg.m-t-lg
