.container
  +title( 'Stay inspired, informed and in touch.', ' Keep up to date with the latest in fitness and the fitness community.', 'm-b-0' )
  .col-md-7
    - var zineLink = 'http://www.nasm.org/the-training-edge-magazine/issues/american-fitness-winter-2016/tes'
    //- .m-r
    .magazine-spot.m-b
      .text
        h2.h1.text-uppercase Noah Galloway: 
        h2 Overcoming and Excelling
        a(href=zineLink).btn.btn-primary.btn-block Read Now
      img(src=assets + '/images/jan2016.jpg', alt='American Fitness Magazine')
      .clearfix
    p Our winter issue features 
      a(href=zineLink) Noah Galloway  
      |  on overcoming and excelling. This veteran is unafraid to share his plight of transitioning from military to civilian life as a double amputee, choosing to be better instead of bitter, while encouraging others. 
      a(href=zineLink) Read more…
  .col-md-5
    a(href='http://www.nasm.org/the-training-edge-magazine/issues/american-fitness-winter-2016/feeding-the-athlete').text-primary
      strong Feeding the Athlete
    p This issue’s CEU Corner. Will the new food label be enough to change our current eating habits to healthier choices?
    hr
    a(href='http://www.nasm.org/the-training-edge-magazine/issues/american-fitness-winter-2016/why-should-foam-rolling-be-used-in-group-training').text-primary
      strong Building a Strong and Enduring Foundation
    p Apply NASM’s Optimum Performance Training™ (OPT™) model to build a strong physical foundation.
    hr
    a(href='http://www.nasm.org/the-training-edge-magazine/issues/american-fitness-winter-2016/why-should-foam-rolling-be-used-in-group-training').text-primary
      strong Foam Rolling in Group Training
    p Discover the benefits of this self-myofascial release technique and how to implement in group training.
  .clearfix
  hr.m-b-lg.m-t-lg
