.container
  +title( 'American Fitness Magazine', 'Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do' )
  .col-md-7
    .m-r
      .afm.row
        .col-sm-3.col-xs-6
          img(src=assets+'/images/afm1.jpg', alt='American Fitness Magazine')
        .col-sm-3.col-xs-6
          img(src=assets+'/images/afm2.jpg', alt='American Fitness Magazine')
        .col-sm-3.col-xs6.hidden-xs-down
          img(src=assets+'/images/afm3.jpg', alt='American Fitness Magazine')
        .col-sm-3.col-xs6.hidden-xs-down
          img(src=assets+'/images/afm4.jpg', alt='American Fitness Magazine')
      p Lorem ipsum dolor sit amet, 
        span.text-primary consectetur adipiscing elit
        | , sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  .col-md-5
    span.text-primary Lorem ipsum dolor
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do amet eiusmod tempor incididunt ut labore et dolore magna aliqua.
    hr
    span.text-primary Lorem ipsum dolor
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do amet eiusmod tempor incididunt ut labore et dolore magna aliqua.
    hr
    span.text-primary Lorem ipsum dolor
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do amet eiusmod tempor incididunt ut labore et dolore magna aliqua.
  .clearfix
  hr.m-b-lg.m-t-lg
