.container
  +title( 'Stay inspired, informed and in touch.', ' Keep up to date with the latest in fitness and the fitness community.', 'm-b-0' )
  .col-md-7
    - var zineLink = 'http://www.nasm.org/the-training-edge-magazine/issues/american-fitness-magazine-nov-dec-2015/this-no-excuses-mom-has-started-a-fitness-revolution'
    //- .m-r
    .magazine-spot.m-b
      .text
        h2.h1.text-uppercase Maria Kang: 
        h2 Making No Excuses
        a(href=zineLink).btn.btn-primary.btn-block Read Now
      img.p-t(src=assets + '/images/american-fitness-cover.png', alt='American Fitness Magazine')
      .clearfix
    p This months issues features 
      a(href=zineLink) Maria Kang the "No-Excuses" mom 
      |  of three who started a fitness revolution and a social media frenzy by keeping in shape despite her hectic schedule. 
      a(href=zineLink) Read more...
  .col-md-5
    a(href='http://www.nasm.org/the-training-edge-magazine/issues/american-fitness-magazine-nov-dec-2015/outrageous-starts-and-finishes').text-primary
      strong Outrageous Starts and Finishes
    p Change it up to bring a fresh perspective and energy to your classes and clients with these approaches by industry-expert, Lawrence Biscontini.
    hr
    a(href='http://www.nasm.org/the-training-edge-magazine/issues/american-fitness-magazine-nov-dec-2015/motivating-people-for-better-health').text-primary
      strong Motivating People for Better Health
    p This issue’s CEU Corner. Will the new food label be enough to change our current eating habits to healthier choices?
    hr
    a(href='http://www.nasm.org/the-training-edge-magazine/issues/american-fitness-magazine-nov-dec-2015/get-your-rear-in-gear').text-primary
      strong Get Your Rear in Gear
    p The pursuit of stronger glutes can bring a positive impact to the body’s mechanics and performance. See what it takes to get them strong.
  .clearfix
  hr.m-b-lg.m-t-lg
