nav.navbar.navbar-message.bg-faded
  .container
    p.text-center.m-b-0.text-uppercase Limited Time Offer - Save 25% Online - Use promo code 'AFAA25'    
      small.text-smaller.text-underline (Details)
