.mobile-nav-spacer.hidden-md-up
nav.navbar.navbar-message.bg-faded
  .container
    p.text-center.m-b-0.text-uppercase 10% Off All Orders - Ends Thursday 
      span.p-l.hidden-sm-down |
      span.p-l.hidden-sm-down Use Code: 
        strong GOAFAA 
        | or Call&nbsp;#{phone} 
    p.text-center.hidden-md-up.m-b-0 Use Code: 
      strong GOAFAA 
      | or Call&nbsp;1&#8209;800&#8209;555&#8209;5555
