nav.navbar.navbar-message.bg-faded
  .container
    p.text-center.m-b-0.text-uppercase 10% Off All Orders - Ends Thursday 
      span.p-l.hidden-sm-down |
      span.p-l.hidden-sm-down Use Code: 
        strong GOAFAA 
        | or Call #{phone} 
    p.text-center.hidden-md-up.m-b-0 Use Code: 
      strong GOAFAA 
      | or Call  
      a(href='tel:18005555555') 1&#8209;800&#8209;555&#8209;5555
