nav.navbar.navbar-top.hidden-sm-down
  .container.p-x-0
    a.p-l.pull-left.navbar-brand.text-bold(href=navbarBrand.link) 
      img.logo(src=assets+'/images/afaa.png', alt='Aerobics and Fitness Association of America')
    ul.nav.navbar-nav.hidden-sm-down.pull-right.m-t
      li.nav-item
        a.nav-link(href='https://shop.nasm.org/ShoppingCart.aspx') Cart
      li.nav-item
        span.nav-link.account-popover.p-x My Account
    #popover(style='display:none')
      .b-b.p-a
        p.m-b-0 Enrolled in 2016?
        p.m-b-0
          a.btn.btn-sm.btn-secondary(href='https://shop.nasm.org/account.aspx') Log in here
      .p-a
        p.m-b-0 Enrolled prior to 2016?
        p.m-b-0
          a.btn.btn-sm.btn-secondary(href='#') Log in here
    a(href='tel:' + phone).phone.pull-right.p-r=phone
