.container
  .row
    .col-md-6
      img.pull-right.m-b(src='http://placehold.it/600x600')
      a(href='#')
        img.pull-right.m-l(src='http://placehold.it/80x80')
      a(href='#')
        img.pull-right.m-l(src='http://placehold.it/80x80')
      a(href='#')
        img.pull-right.m-l(src='http://placehold.it/80x80')
      .clearfix
    .col-md-6
      h3 CPT 4 Self-Study
      p With the NASM Certified Personal Trainer (CPT) Self-Study package, you learn at your own pace. No set schedules, study when you want to; you have the freedom to take your time.
      p.h3.m-b-md $699
      .btn.btn-secondary-outline.btn-lg.btn-block.m-b-lg Enroll Now
      p
        strong The CPT Self-Study package includes:
      ul
        li Certification Exam
        li Online Practice Exam
        li Textbook
        li Over 7 hours of Online Course Content/Presentations
        li Online Exercise Library with over 200 exercise demonstrations
        li Interactive Learning Activities
        li Interactive Program Design Module
        li Electronic, animated CPT Flashcards Bundle
        li Free subscription to NASM’s bimonthly Magazine, The Training Edge
hr.m-b-lg.m-t-lgrs
