.col-md-5.col-md-push-1
  +quote( 'This course met every expectation and provided what I needed. It provided me with more confidence and knowledge that confirmed and enhanced my teaching skills.' , 'Maya McLane' )
.col-md-5.col-md-push-1
  +quote( 'The certification immediately opened doors for me! I am on my way to creating a prosperous career in the fitness industry.' , 'Rose Cooke' )
