.col-md-5.col-md-push-1
  blockquote.quote
    i.fa.fa-quote-left.fa-2x.fa-pull-left
    p.m-l-lg.text-italic This course met every expectation and provided what I needed. It provided me with more confidence and knowledge that confirmed and enhanced my teaching skills.
    footer.m-l-lg Maya McLane
.col-md-5.col-md-push-1
  blockquote.quote
    i.fa.fa-quote-left.fa-2x.fa-pull-left
    p.m-l-lg.text-italic The certification immediately opened doors for me! I am on my way to creating a prosperous career in the fitness industry. 
    footer.m-l-lg Rose Cooke
