.container.m-b-lg
  .col-md-12
    h3.text-bold.text-condensed.text-uppercase.text-center.m-b-mdC Related Products
  .col-md-3
    img(src=assets+'/images/related1.jpg')
    p.text-center CPT 4 eTeach 9 Weeks
    p.text-center
      strong $349.00
  .col-md-3
    img(src=assets+'/images/related2.jpg')
    p.text-center CPT 4 eTeach 9 Weeks
    p.text-center
      strong $349.00
  .col-md-3
    img(src=assets+'/images/related3.jpg')
    p.text-center CPT 4 eTeach 9 Weeks
    p.text-center
      strong $349.00
  .col-md-3
    img(src=assets+'/images/related4.jpg')
    p.text-center CPT 4 eTeach 9 Weeks
    p.text-center
      strong $349.00
