.container
  .col-md-12
    h3.text-center.m-b-lg Related Products
  .col-md-3
    img(src='http://placehold.it/400x400')
    p.text-center CPT 4 eTeach 9 Weeks
    p.text-center
      strong $349.00
  .col-md-3
    img(src='http://placehold.it/400x400')
    p.text-center CPT 4 eTeach 9 Weeks
    p.text-center
      strong $349.00
  .col-md-3
    img(src='http://placehold.it/400x400')
    p.text-center CPT 4 eTeach 9 Weeks
    p.text-center
      strong $349.00
  .col-md-3
    img(src='http://placehold.it/400x400')
    p.text-center CPT 4 eTeach 9 Weeks
    p.text-center
      strong $349.00
hr.m-b-lg.m-t-lg
