.container
  .col-md-12.m-b-lg
    h2.text-center Why Become AFAA Certified
    h5.text-center Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do
  .col-md-4
    img.circle.center-block(src='http://placehold.it/120x120')
    .clearfix.hidden-lg-up
    h5.text-center More Clients
    p.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  .col-md-4
    img.circle.center-block(src='http://placehold.it/120x120')
    .clearfix.hidden-lg-up
    h5.text-center More Money
    p.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  .col-md-4
    img.circle.center-block(src='http://placehold.it/120x120')
    .clearfix.hidden-lg-up
    h5.text-center More Success
    p.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
hr.m-b-lg.m-t-lg
