.container
  .row
    +title( 'Motivate. Inspire. Move.', 'Get started now.', 'm-b-md' )
  .row.flex-md-up
    .col-lg-4.col-sm-6.b-r
      .triple-card
        img(src=assets+'/images/triple1.jpg', alt='Group Instructor')
        .text
          p Don’t just lead a class. Lead a revolution
      ul.triple-list
        li Change your life and change the lives of others.
        li Get certified in what you love today.
    .col-lg-4.col-sm-6.b-r
      .triple-card
        img(src=assets+'/images/triple2.jpg', alt='Personal Fitness Trainer')
        .text
          p Giving You The Edge
      ul.triple-list
        li Learn fitness, not fads.
        li AFAA certifications give you everything you need to be everything they need.
    .col-lg-4.hidden-md-down
      .triple-card
        img(src=assets+'/images/triple3.jpg', alt='Continuing Education')
        .text
          p Stay inspired, informed and in touch.
      ul.triple-list
        li Keep up to date with the latest in fitness and the fitness community.
  .row
    .clearfix
    hr.m-b-lg.m-t-lg
