.container
  .row
    +title( 'Don’t just lead a class. Lead a movement', 'Change your life and change the lives of others. Get certified in what you love today.', 'm-b-md' )
  .row.flex-md-up
    .col-lg-4.col-sm-6.b-r
      .triple-card
        img(src=assets+'/images/triple1.jpg', alt='Group Instructor')
        .text
          p Become a Group Instructor
      ul.triple-list
        li Simple Online training
        li Instant Registration
    .col-lg-4.col-sm-6.b-r
      .triple-card
        img(src=assets+'/images/triple2.jpg', alt='Personal Fitness Trainer')
        .text
          p Become a Personal Fitness Trainer
      ul.triple-list
        li Continue your education
        li Acquire a new expertise
        li Shows a commitment to excellence
    .col-lg-4.hidden-md-down
      .triple-card
        img(src=assets+'/images/triple3.jpg', alt='Continuing Education')
        .text
          p Get Continuing Education
      ul.triple-list
        li Read the latest fitness knowledge online
        li Connect with American Fitness Magazine
        li Share with your network
  .row
    .clearfix
    hr.m-b-lg.m-t-lg
