.container
  .row
    +title( 'Don’t just lead a class, Lead a movement', 'Change your life and change the lives of others. Get certified in what you love today.', 'm-b-md' )
  .row.flex-md-up
    .col-lg-4.b-r
      .triple-card
        img(src=assets+'/images/triple1.jpg', alt='Group Instructor').m-b
        h4 Become a Group Instructor
        p Easy-to-follow online training lets you begin immediately and learn at your own pace. Includes 14 dynamic streaming video lectures and a downloadable study guide.
        a().btn.btn-small.btn-primary Learn More
    .col-lg-4.b-r
      .triple-card
        img(src=assets+'/images/triple2.jpg', alt='Personal Fitness Trainer').m-b
        h4 Become a Personal Trainer
        p The industry's first fully online secure, credible and convenient course for personal trainer certification. Meets the rigorous criteria established by the National Board of Fitness Examiners (NBFE).
        a().btn.btn-small.btn-primary Learn More
    .col-lg-4
      .triple-card
        img(src=assets+'/images/triple3.jpg', alt='Continuing Education').m-b
        h4 Continuing Education
        p Stay up-to-date with the latest fitness research, news and techniques by connecting online, through the pages of American Fitness Magazine and with continuing education courses.
        a().btn.btn-small.btn-primary Learn More
  .row
    .clearfix
    hr.m-b-lg.m-t-lg
