.container
  .col-md-12.m-b
    h2.text-center Lorem ipsum dolor
    h5.text-center Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do
  .col-lg-4.col-sm-6
    img(src='http://placehold.it/350x200')
    h6.text-center.text-uppercase Become A Personal Trainer
    p.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  .col-lg-4.col-sm-6
    img(src='http://placehold.it/350x200')
    h6.text-center.text-uppercase Continuing Education
    p.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  .col-lg-4.hidden-md-down
    img(src='http://placehold.it/350x200')
    h6.text-center.text-uppercase Renew Your Certification
    p.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
hr.m-b-lg.m-t-lg
