.container
  .col-md-12.m-b
    h2.text-center Get Certifited in What You Love
    h5.text-center AFAA has just what you need to become the best in the fitness world.
  .col-lg-4.col-sm-6
    img(src='http://placehold.it/350x200')
    h4.text-center.text-uppercase Become a Group Instructor
    ul
      li Simple Online training
      li Instant Registration
  .col-lg-4.col-sm-6
    img(src='http://placehold.it/350x200')
    h4.text-center.text-uppercase Become a Personal Fitness Trainer
    ul
      li Continue your education
      li Shows a commitment to excellence
  .col-lg-4.hidden-md-down
    img(src='http://placehold.it/350x200')
    h4.text-center.text-uppercase Get Continuing Education
    ul
      li Read the latest fitness knowledge online
      li Connect with American Fitness Magazine
      li Share with your network
hr.m-b-lg.m-t-lg
