style.
  nav.navbar-warning {
    background: rgb( 255, 34, 5 );
  }
nav.navbar.navbar-message.navbar-warning.bg-faded
  .container
    p.text-center.m-b-0.text-uppercase This is the DEVELOPER site, 
      a(href='//www.afaa.com') please click here to go to www.afaa.com
