extends ./layout/layout.jade

block content
  .container
    .row
      .col-md-12.m-b-lg
        h1 404 - Whoops!
        p We can't see to find the page you are looking for. 
        p Perhaps you'd like to check out American Fitness Magazine?
        img(src='http://placehold.it/300x200')
        p You can always excercise the back button?
        .btn.btn-primary American Fitness Magazine
        .btn.btn-primary Home Page
