extends ./layout/layout.jade

block content
  .bg-grey.m-b-lg
    +title( '404', 'Whoops!', 'm-b-md p-t-lg' )
    .clearfix
  .container
    .row
      .col-md-12.m-b-lg.text-center
        h3
          span.fa.fa-exclamation-triangle.text-danger
          |  We can't seem to find the page you are looking for.  
          span.fa.fa-exclamation-triangle.text-danger
        p Perhaps you'd like to check out American Fitness Magazine?
        img(src='http://placehold.it/300x200')
        p You can always excercise the back button?
        .btn.btn-primary American Fitness Magazine
        .btn.btn-primary Home Page
