extends ./layout/layout.jade

block content
  .container
    .row
      .col-md-10.col-md-push-1.m-y-lg
        h1 About AFAA
        p.lead Change Bodies. Change Lives.
        p For over 30 years the Aerobics and Fitness Association of America (AFAA) has been dedicated to certifying group and personal trainers dedicated to leading others to a love for fitness and working out. AFAA believes that when you change bodies you change lives, and that being a group or personal trainer is about much more than just knowing the exercise or routine. That’s why since 1983, AFAA has issued over 350,000 certification in 73 countries, providing generations of trainers with the practical skills, science and hands-on experience necessary for effective group leaders and trainers to motivate and inspire others to move toward healthier and happier lives.
        p The global leader in fitness certification, AFAA upholds Basic Exercise Standards and Guidelines for safe fitness practice.
      .clearfix
      //- hr.m-b-lg.m-t-lg
  //- include ./block/form
