extends ./layout/layout.jade

block content
  .container
    .row.m-t-lg
      +title( 'Digital Ocean', 'Benefits and Drawbacks' )
      .col-md-8.col-md-push-2
        include:markdown-it ../markdown/digitalocean.md
  hr.m-b-lg.m-t-lg
  include ./block/form
