extends ./layout/layout.jade

block vars
  - function toSlug( text ) {
  -   return text.toLowerCase().replace( ' ' , '-' )
  - }

block content
  .container.m-y-lg
    .row
      .col-md-12
        h1 Courses
        p.lead Grow your expertise, knowledge and value with AFAA certifications, specializations and courses.
      .col-md-12.m-b-lg
        - var everything = 'All Products';
        - var educationSections = [ 'Group X', 'Personal Trainer', 'Specializations', 'Continuing Education', 'CEU Corner' ];
        ul.nav.nav-tabs.m-b-lg
          li.nav-item
            a.nav-link.active#everything( href='#everything', data-toggle='tab' )=everything
          each section in educationSections
            li.nav-item
              a( href='#' + toSlug( section ), data-toggle='tab' ).nav-link=section
        .tab-content
          +section( everything, products )
          each section in educationSections
            +section( section, products )

block pageJS
  script(src='/js/courseTabs.js')
