extends ./layout/layout.jade

block content
  .container
    .row
      .col-md-12.m-b
        h2.text-center Why Choose AFAA
        h5.text-center Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do
      .col-md-push-1.col-md-10.m-b
        form
          .form-group
            .input-group
              .input-group-btn
                button.btn.btn-secondary.dropdown-toggle(data-toggle="dropdown") Filter
                .dropdown-menu
                  a.dropdown-item(href='#') Filter
                  a.dropdown-item(href='#') Sort
              input.form-control(placeholder='Search courses...')
      .col-md-12.m-b-lg
        ul.nav.nav-tabs
          li.nav-item
            a.nav-link.active Certification
          li.nav-item
            a.nav-link Recertification
          li.nav-item
            a.nav-link Specializations
          li.nav-item
            a.nav-link Sports Performance
          li.nav-item
            a.nav-link Continuing Education
      .col-md-12.m-b
        h3 Personal Training Certification
        include ./block/course
        include ./block/course
        h3 Recertification
        include ./block/course
        include ./block/course
        h3 Specializations
        include ./block/course
        include ./block/course
  hr.m-b-lg.m-t-lg
  .container
    .col-md-12
      h2.text-center American Fitness Magazine
      h5.text-center.m-b-lg Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do
    .col-md-6
      img(src='http://placehold.it/540x240')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .col-md-push-1.col-md-5
      h4.m-b
        i.fa.fa-newspaper-o
        |  Fresh Stories
      h5 Lorem ipsum dolor
      p Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod
      hr
      h5 Lorem ipsum dolor
      p Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod
      hr
      h5 Lorem ipsum dolor
      p Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod
      hr
      h5 Lorem ipsum dolor
      p Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod
  //- .container
    .col-md-12
      h3.pull-left Lorem Ipsum Dolor Sit Amet
      button.btn.btn-lg.btn-secondary-outline.pull-right Click Me!
  hr.m-b-lg.m-t-lg
  include ./block/form
