extends ./layout/layout.jade

block content
  .container
    .row
      .col-md-12.m-bb
        h2.text-center Why Choose AFAA
        h5.text-center Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do
      .col-sm-12.col-md-6
        ul.no-bull.p-l-0
          li
            img.m-r(src='http://placehold.it/60x60') 
            | Lorem ipsum dolor sit amet
          li
            img.m-r(src='http://placehold.it/60x60') 
            | Lorem ipsum dolor sit amet
      .col-md-6.hidden-sm-down
        ul.no-bull
          li
            img.m-r(src='http://placehold.it/60x60') 
            | Lorem ipsum dolor sit amet
          li
            img.m-r(src='http://placehold.it/60x60') 
            | Lorem ipsum dolor sit amet
      //- .col-sm-12
        p.text-center Lorem ipsum dolor sit amet 
          button.btn.btn-secondary-outline.btn-lg.m-l Become A Trainer
  hr.m-b-lg.m-t-lg
  .container
    .col-md-12.m-b
      h2.text-center Lorem ipsum dolor
      h5.text-center Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do
    .col-lg-4.col-sm-6
      img(src='http://placehold.it/350x200')
      h6.text-center.text-uppercase Become A Personal Trainer
      p.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .col-lg-4.col-sm-6
      img(src='http://placehold.it/350x200')
      h6.text-center.text-uppercase Continuing Education
      p.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .col-lg-4.hidden-md-down
      img(src='http://placehold.it/350x200')
      h6.text-center.text-uppercase Renew Your Certification
      p.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  hr.m-b-lg.m-t-lg
  .container
    .col-md-12.m-b-lg
      h2.text-center What Our Group Instructors Say
      h5.text-center Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do
    .col-sm-6.trainer-testimonial
      img.circle(src='http://placehold.it/120x120')
      .clearfix.hidden-lg-up
      h5 Matty Muscles
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .col-sm-6.trainer-testimonial
      img.circle(src='http://placehold.it/120x120')
      .clearfix.hidden-lg-up
      h5 Matty Muscles
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  hr.m-b-lg.m-t-lg
  .container
    .col-md-12
      h2.text-center American Fitness Magazine
      h5.text-center.m-b-lg Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do
    .col-md-6
      img(src='http://placehold.it/540x240')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .col-md-push-1.col-md-5
      h4.m-b
        i.fa.fa-newspaper-o
        |  Fresh Stories
      h5 Lorem ipsum dolor
      p Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod
      hr
      h5 Lorem ipsum dolor
      p Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod
      hr
      h5 Lorem ipsum dolor
      p Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod
      hr
      h5 Lorem ipsum dolor
      p Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod
  //- .container
    .col-md-12
      h3.pull-left Lorem Ipsum Dolor Sit Amet
      button.btn.btn-lg.btn-secondary-outline.pull-right Click Me!
  hr.m-b-lg.m-t-lg
  .container
    .col-md-12.m-b-lg
      h2.text-center Lorem ipsum dolor sit
      h5.text-center.m-b-lg Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do
      form(action='http://certify.nasm.org/acton/eform/14843/0039/d-ext-0001', method='POST')
        input(type='hidden', name='Topic', value='AFAA')
        .form-group.row
          .col-sm-6
            input.form-control(placeholder='First Name', name='First Name')
          .col-sm-6
            input.form-control(placeholder='Last Name', name='Last Name')
        .form-group.row
          .col-sm-6
            input.form-control(placeholder='Email Address', name='Email Address')
          .col-sm-6
            input.form-control(placeholder='Phone Number', name='Phone')
        .row
          .col-sm-10.col-sm-push-1.col-md-4.col-md-push-4
            button.btn.btn-secondary-outline.btn-block.btn-lg Subscribe
  hr.m-b-lg.m-t-lg
