extends ./layout/layout.jade

block content
  .container
    .row
      .m-b-lg
      .col-md-12.m-b-lg
        ul.nav.nav-tabs
          li.nav-item
            a.nav-link.active Certification
          li.nav-item
            a.nav-link Recertification
          li.nav-item
            a.nav-link Specializations
          li.nav-item
            a.nav-link Sports Performance
          li.nav-item
            a.nav-link Continuing Education
      .col-md-12.m-b-lg
        h3.m-b.text-center.text-bold.text-condensed.text-uppercase Personal Training Certification
        .b-b
          include ./block/course
          include ./block/course
      .col-md-12.m-b-lg
        h3.m-b.text-center.text-bold.text-condensed.text-uppercase Recertification
        .b-b
          include ./block/course
          include ./block/course
      .col-md-12.m-b-lg
        h3.m-b.text-center.text-bold.text-condensed.text-uppercase Specializations
        .b-b
          include ./block/course
          include ./block/course
  //- hr.m-b-lg.m-t-lg
  //- include ./block/form
