extends ./layout/layout.jade

block content
  .bg-grey.m-b-lg
    +title( 'Education Products', 'For a better life', 'm-b-md p-t-lg' )
    .clearfix
  .container
    .row
      .col-md-10.col-md-push-1
        include:markdown-it ../markdown/digitalocean.md
      .clearfix
      hr.m-b-lg.m-t-lg
  include ./block/form
