extends ./layout/layout.jade

block content
  p markup is fun now!
  include ./block/hero
  include ./block/list
  include ./block/triple
  include ./block/instructors
  include ./block/magazine
  //- include ./block/cta
  include ./block/form
