extends ./layout/layout.jade

block vars
  //- -var canonical = '/'

//- block navigation
//-   .mobile-nav-spacer.hidden-md-up
//-   include ./block/message
//-   include ./block/navtop
//-   include ./block/nav
//-   include ./block/mobilenav

block navigation
  .mobile-nav-spacer.hidden-md-up
  include ./block/message1
  //- include ./block/warning
  .container(style='position: relative').hidden-sm-down
    p#help3
      a(href='/help') Get login help  
        span.fa.fa-question-circle
  .mobile-nav-spacer.hidden-md-up

  //- include ./block/message
  include ./block/navtop
  include ./block/nav
  include ./block/mobilenav

block content
  include ./block/hero
  include ./block/triple
  include ./block/list
  include ./block/magazine
  include ./block/form
  #offer.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden=true,) x
            span.sr-only Close
          h4.modal-title Offer ends January 15th, 2016 at 11:59 pm EST
        .modal-body
          p Third-party courses excluded. See disclaimer for details. Discount applied automatically in the cart.
          p Excludes: Arthritis Foundation Walk With Ease, Jillian Michaels - BODYSHRED, Jillian Michaels CEU Corner, Diet Free Life, Power Music / Group Rx RIP, Nutrition for Sports and Exercise, Yo-Chi, Health Coaching Skills, Exercise Design for Seniors, Cream Rises: Excellence In Education.

block pageJS
  script(src='/js/jquery-cycle2/jquery.cycle2.js')
  script(src='/js/jquery-cycle2/plugin/jquery.cycle2.swipe.min.js')
  script(src='/js/bootstrap/modal.js')
  script(src='/js/formValidation/formValidation.min.js')
  script(src='/js/formValidation/framework/bootstrap.min.js')
  script(src='/js/formValidation/mandatoryIcon.min.js')
  script(src='/js/formValidation.js')

//- Fancy Scroll

//- block content
//-   include ./block/mobilenav
//-   .fixed-wrap
//-     .m-t-lg.hidden-sm-down
//-     .mobile-nav-spacer.hidden-md-up
//-     include ./block/navtop
//-     include ./block/nav
//-     include ./block/hero
//-   .fixed-scroll
//-     include ./block/triple
//-     include ./block/list
//-     //- include ./block/instructors
//-     include ./block/magazine
//-     //- //- include ./block/cta
//-     include ./block/form
