extends ./layout/layout.jade

block vars
  //- -var canonical = '/'

block navigation
  .mobile-nav-spacer.hidden-md-up
  include ./block/message
  include ./block/navtop
  include ./block/nav
  include ./block/mobilenav

block content
  include ./block/hero
  include ./block/triple
  include ./block/list
  include ./block/magazine
  include ./block/form
  #thanks.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          h4.modal-title Thank You!
        .modal-body
          p Thanks for signing up to learn more about AFAA.

block pageJS
  script(src='/js/jquery-cycle2/jquery.cycle2.js')
  script(src='/js/jquery-cycle2/plugin/jquery.cycle2.swipe.min.js')
  script(src='/js/bootstrap/modal.js')
  script(src='/js/thanksModal.js')
  

//- Fancy Scroll

//- block content
//-   include ./block/mobilenav
//-   .fixed-wrap
//-     .m-t-lg.hidden-sm-down
//-     .mobile-nav-spacer.hidden-md-up
//-     include ./block/navtop
//-     include ./block/nav
//-     include ./block/hero
//-   .fixed-scroll
//-     include ./block/triple
//-     include ./block/list
//-     //- include ./block/instructors
//-     include ./block/magazine
//-     //- //- include ./block/cta
//-     include ./block/form
