extends ./layout/layout.jade

block content
  include ./block/title
  include ./block/product
  include ./block/list
  include ./block/triple-circle
  include ./block/instructors
  include ./block/related
  include ./block/cta
  include ./block/form
