extends ./layout/layout.jade

block content
  .container
    .row
      .col-md-12.m-bb
        h2.text-center Why Choose AFAA
        h5.text-center Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do
  hr.m-b-lg.m-t-lg
  .container
    .row
      .col-md-6
        .row
          .col-xs-9
            img.pull-right.m-b(src='http://placehold.it/600x600')
          .col-xs-3
            a(href='#')
              img.pull-right.m-l(src='http://placehold.it/80x80')
            a(href='#')
              img.pull-right.m-l(src='http://placehold.it/80x80')
            a(href='#')
              img.pull-right.m-l(src='http://placehold.it/80x80')
        .clearfix
      .col-md-6
        h3 CPT 4 Self-Study
        p With the NASM Certified Personal Trainer (CPT) Self-Study package, you learn at your own pace. No set schedules, study when you want to; you have the freedom to take your time.
        p.h3.m-b-md $699
        .btn.btn-secondary-outline.btn-lg.btn-block.m-b-lg Enroll Now
        p
          strong The CPT Self-Study package includes:
        ul
          li Certification Exam
          li Online Practice Exam
          li Textbook
          li Over 7 hours of Online Course Content/Presentations
          li Online Exercise Library with over 200 exercise demonstrations
          li Interactive Learning Activities
          li Interactive Program Design Module
          li Electronic, animated CPT Flashcards Bundle
          li Free subscription to NASM’s bimonthly Magazine, The Training Edge
  hr.m-b-lg.m-t-lg
  .container
    .row
      .col-md-12.m-bb
        h2.text-center Why Choose AFAA
        h5.text-center Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do
      .col-sm-12.col-md-6
        ul.no-bull.p-l-0
          li
            img.m-r(src='http://placehold.it/60x60') 
            | Lorem ipsum dolor sit amet
          li
            img.m-r(src='http://placehold.it/60x60') 
            | Lorem ipsum dolor sit amet
      .col-md-6.hidden-sm-down
        ul.no-bull
          li
            img.m-r(src='http://placehold.it/60x60') 
            | Lorem ipsum dolor sit amet
          li
            img.m-r(src='http://placehold.it/60x60') 
            | Lorem ipsum dolor sit amet
      //- .col-sm-12
        p.text-center Lorem ipsum dolor sit amet 
          button.btn.btn-secondary-outline.btn-lg.m-l Become A Trainer
  hr.m-b-lg.m-t-lg
  .container
    .col-md-12.m-b-lg
      h2.text-center Why Become AFAA Certified
      h5.text-center Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do
    .col-md-4
      img.circle.center-block(src='http://placehold.it/120x120')
      .clearfix.hidden-lg-up
      h5.text-center More Clients
      p.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .col-md-4
      img.circle.center-block(src='http://placehold.it/120x120')
      .clearfix.hidden-lg-up
      h5.text-center More Money
      p.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .col-md-4
      img.circle.center-block(src='http://placehold.it/120x120')
      .clearfix.hidden-lg-up
      h5.text-center More Success
      p.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  hr.m-b-lg.m-t-lg
  .container
    .col-md-12.m-b-lg
      h2.text-center What Our AFAA Instructors Say
      h5.text-center Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do
    .col-sm-6.trainer-testimonial
      img.circle(src='http://placehold.it/120x120')
      .clearfix.hidden-lg-up
      h5 Matty Muscles
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .col-sm-6.trainer-testimonial
      img.circle(src='http://placehold.it/120x120')
      .clearfix.hidden-lg-up
      h5 Matty Muscles
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  hr.m-b-lg.m-t-lg
  .container
    .col-md-12
      h3.text-center.m-b-lg Related Products
    .col-md-3
      img(src='http://placehold.it/400x400')
      p.text-center CPT 4 eTeach 9 Weeks
      p.text-center
        strong $349.00
    .col-md-3
      img(src='http://placehold.it/400x400')
      p.text-center CPT 4 eTeach 9 Weeks
      p.text-center
        strong $349.00
    .col-md-3
      img(src='http://placehold.it/400x400')
      p.text-center CPT 4 eTeach 9 Weeks
      p.text-center
        strong $349.00
    .col-md-3
      img(src='http://placehold.it/400x400')
      p.text-center CPT 4 eTeach 9 Weeks
      p.text-center
        strong $349.00
  hr.m-b-lg.m-t-lg
  .container
    .col-md-12
      h3.pull-left Lorem Ipsum Dolor Sit Amet
      button.btn.btn-lg.btn-secondary-outline.pull-right Click Me!
  hr.m-b-lg.m-t-lg
  include ./block/form
