extends ./layout/layout.jade

block vars
  - var productTitle = 'Certified Personal Trainer Certification'

block content
  //- include ./block/title
  .bg-grey.m-b-lg
    +title( 'Education Products', 'For a better life', 'm-b-md p-t-lg' )
    .clearfix
  include ./block/product
  include ./block/related

  //- include ./block/list
  //- include ./block/triple-circle
  //- include ./block/instructors
  //- include ./block/cta
  //- include ./block/form
