extends ./layout/layout.jade

block content
  .container
    .row
      .col-sm-12.m-y-lg
        h1 Become a Preferred Provider
        p Grow your reach and you'll grow your business. As a 2016 Approved Continuing Education Provider for both AFAA and NASM, you’ll have access to the largest family of fitness professionals on the planet. Make 2016 your best year ever, and start by becoming an AFAA an NASM Approved Continuing Education Provider.
        p The AFAA and NASM Provider Program is designed to provide reputable continuing education opportunities to AFAA and NASM professionals, through a variety of sources.
        p AFAA and NASM are dedicated to enriching the continuing education path of fitness and sports performance professionals worldwide.
        p.lead AFAA and NASM Continuing Education Provider Benefits include:
        ul
          li Online recognition on the AFAA website, 24-hours a day, with course and contact information
          li Exposure to thousands of AFAA and NASM credentialed professionals
        p It’s easy to become an AFAA and NASM Approved Provider!
        ul
          li Complete the 
            a(href='') Provider Program Application
          li Submit ALL required documentation via email to: 
            a(href='mailto:providerprogram@nasm.org') providerprogram@nasm.org
        p
          em The approval process can take up to 30 days.
        //- a.btn.btn-primary(href='http://www.nasm.org/docs/default-source/pdf/11-17-15-provider-program-application-nasm-afaa.pdf?sfvrsn=2') Apply today
      .clearfix
