extends ./layout/layout.jade

block content
  .container
    .row
      .col-lg-8.col-lg-push-2.m-y-lg
        h1 Become a Preferred Provider
        p Grow your reach and you'll grow your business. As a 2016 Approved Continuing Education Provider for both NASM and AFAA, you’ll have access to the largest family of fitness professionals on the planet. Make 2016 your best year ever, and start by becoming an NASM and AFAA Approved Continuing Education Provider. 
        a.btn.btn-primary(href='http://www.nasm.org/docs/default-source/pdf/11-17-15-provider-program-application-nasm-afaa.pdf?sfvrsn=2') Apply today
      .clearfix
