extends ./layout/layout.jade

block content
  .container.m-y-lg
    .row
      .col-md-12
        include:markdown-it ../markdown/recertification.md
        a.m-r.btn.btn-primary(href='https://shop.nasm.org/addtocart.aspx?productid=9242') Add Recertification to Cart
        a.btn.btn-primary(href='https://shop.nasm.org/addtocart.aspx?productid=9242') Add Petition to Cart
        include:markdown-it ../markdown/recertification2.md
