extends ./layout/layout.jade

block content
  .bg-grey.m-b-lg
    +title( 'AFAA', 'Recertification', 'm-b-md p-t-lg' )
    .clearfix
  .container
    .row
      .col-md-12.m-t-lg
        include:markdown-it ../markdown/recertification.md
  hr.m-b-lg.m-t-lg
  include ./block/form
