extends ./layout/layout.jade

block content
  .bg-grey.m-b-lg
    +title( 'Style Guide', 'afaa.com Branding 2016', 'm-b-md p-t-lg' )
    .clearfix
  .container
    .row.m-b
      .col-md-12
        h3 Typography &amp; Headings
      .col-lg-4.m-b
        p.lead We have a special lead paragraph style.
        p This is the standard paragrah style. This is the 
          strong Open Sans 
          |  Typeface This is also the primary font-size used for most text elements across the site. This text supports  
          em emphasis or italic
          |  and  
          strong strong or bold
          |  text styles. 
          a(href='#') Hyperlinks in the body text 
          |  are also encouraged. The hover state is slightly darker and underlined.
        p.text-condensed
          strike You should not use the condensed font for body copy. It's for titles. 
            strong bold 
            |  and 
            em italics 
            |  should be used instead.
        p There is another feature of body copy hidden right here in plain sight! Highlight this text to check it out... I'll wait. Pretty cool eh? That's a custom highlight color using the primary brand color with a slight opacity.
      .col-lg-4.m-b
        h1 H1 Preferred Heading
        h2 H2 Authorative
        h3 H3 Font is Roboto Condensed
        h4 H4 Heading Title
        h5 H5 Heading Title
        h6 H6 Heading Title
      .col-lg-4.m-b
        h1.text-bold.text-uppercase H1 Bold Uppcase
        h2.text-bold.text-uppercase H2 This title yells!
        h3.text-bold.text-uppercase H3 Heading Title
        h4.text-bold.text-uppercase H4 Heading Title
        h5.text-bold.text-uppercase H5 Heading Title
        h6.text-bold.text-uppercase H6 Heading Title
    .row.m-b
      .col-md-4.m-b
        h3 Fonts
        a(href='https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans:400,400italic,700%7CRoboto+Condensed:400,700') Google Fonts Collection
        p.text-condensed Roboto Condensed Regular
        p.text-condensed.text-bold Roboto Condensed Bold
        p Open Sans Regular
        p.text-italic Open Sans Regular Italic
        p.text-bold Open Sans Bold
      .col-md-8.m-b
        h3 Buttons
        .btn.btn-primary.btn-sm Small Primary Button
        .btn.btn-primary Primary Button
        .btn.btn-primary.btn-lg Large Primary Button
      .col-md-8.m-b-lg
        .btn.btn-secondary.btn-sm Small Secondary Button
        .btn.btn-secondary Secondary Button
        .btn.btn-secondary.btn-lg Large Secondary Button
    .row.m-b
      .col-md-6
        h3 Form Controls
        form
          .form-group.row
            .col-sm-6
              input.form-control(placeholder='With Placeholders')
            .col-sm-6
              input.form-control(placeholder='With Placeholders')
          .form-group.row
            .col-sm-12
              input.form-control(placeholder='With Placeholders')
          .form-group.row
            .col-sm-12
              select.form-control
                option Select
                option Option 1
                option Option 2
                option Option 3
                option Option 4
          .form-group.row
            .col-sm-4
              .checkbox
                label
                  input(type='checkbox')
                  |  Check me out now
            .col-sm-4
              .checkbox
                label
                  input(type='checkbox')
                  |  The Fung Sho
            .col-sm-4
              .checkbox
                label
                  input(type='checkbox')
                  |  Brotha
          .form-group.row
            .col-sm-4
              .radio
                label
                  input(type='radio', name='radiogroup')
                  |  Pick me out now
            .col-sm-4
              .radio
                label
                  input(type='radio', name='radiogroup')
                  |  The Fung Sho
            .col-sm-4
              .radio
                label
                  input(type='radio', name='radiogroup')
                  |  Brotha
          .form-group.row
            .col-sm-12
              label With Labels
              input.form-control(placeholder='And Placeholders')
          .form-group.row
            .col-sm-12
              label With Labels Only
              input.form-control
          .form-group.row
            .col-sm-12
              .btn.btn-primary Submit
      .col-md-6
        h3 Colors
        p The brand primary color is the only one in use on the site right now. It has been used with varying levels of opactiy (transparency) to create different shades.
        .row
          .col-md-6
            .bg-primary.p-a.m-b
              p.m-b-0 Brand Primary
            .bg-primary.p-a.m-b(style='opacity: 0.9')
              p.m-b-0 Brand Primary 90%
            .bg-primary.p-a.m-b(style='opacity: 0.75')
              p.m-b-0 Brand Primary 75%
            .bg-primary.p-a.m-b(style='opacity: 0.6')
              p.m-b-0 Brand Primary 60%
            .bg-primary.p-a.m-b(style='opacity: 0.5')
              p.m-b-0 Brand Primary 50%
          .col-md-6
            p These colors are available, but so far, unused.
            .bg-success.p-a.m-b
              p.m-b-0 Brand Success
            .bg-info.p-a.m-b
              p.m-b-0 Brand Info
            .bg-warning.p-a.m-b
              p.m-b-0 Brand Warning
            .bg-danger.p-a.m-b
              p.m-b-0 Brand Danger
  hr.m-b-lg.m-t-lg
  include ./block/form
