extends ./layout/layout

block content

  .bg-grey.m-b-lg
    +title( 'Onsite Workshops', '', 'm-b-md p-t-lg' )
    .clearfix

  pre=JSON.stringify( workshops, null, 2 )
  .container.b-b
    .row.m-t-lg
      .col-lg-7.col-xl-8
        include:markdown-it ../markdown/workshops/group-fitness.md
      .col-lg-5.col-xl-4
        .btn.btn-lg.btn-block.btn-primary(data-toggle='collapse', data-target='#group') Find a workshop near you 
          span.fa.fa-chevron-down
        ul.bg-primary.collapse.p-a.no-bull#group
          - var workshops = [ 'Jan 9 - Jacksonville Beach, FL', 'Jan 10 - Greenwood, IN', 'Jan 17 - Sacramento, CA', 'Feb 6 - Avondale, AZ', 'Feb 7 - Phoenix, AZ', 'Feb 20 - Richmond, VA', 'Feb 21 - Hayward, CA' ]
          each shop, idx in workshops
            li.b-b.p-a(data-toggle='collapse', data-target='#subgroup'+idx)=shop
              span.fa.fa-chevron-down
              .collapse(id='subgroup'+idx)
                p This is a bit more info

  .container.b-b
    .row.m-t-lg
      .col-lg-7.col-xl-8
        include:markdown-it ../markdown/workshops/personal-fitness.md
      .col-lg-5.col-xl-4
        .btn.btn-lg.btn-block.btn-primary(data-toggle='collapse', data-target='#personal') Find a workshop near you 
          span.fa.fa-chevron-down
        ul.bg-primary.collapse.p-a.no-bull#personal
          - var workshops = [ 'Jan 9 - Jacksonville Beach, FL', 'Jan 10 - Greenwood, IN', 'Jan 17 - Sacramento, CA', 'Feb 6 - Avondale, AZ', 'Feb 7 - Phoenix, AZ', 'Feb 20 - Richmond, VA', 'Feb 21 - Hayward, CA' ]
          each shop, idx in workshops
            li.b-b.p-a(data-toggle='collapse', data-target='#changesubgroup'+idx)=shop
              span.fa.fa-chevron-down
              .collapse(id='changesubgroup'+idx)
                p This is a bit more info

  hr.m-b-lg.m-t-lg
  include ./block/form
