extends ./layout/layout

block content

  .bg-grey.m-b-lg
    +title( 'Onsite Workshops', '', 'm-b-md p-t-lg' )
    .clearfix

  //- pre=JSON.stringify( workshops, null, 2 )
  .container.b-b
    .row.m-t-lg
      .col-lg-3.col-xl-2
        img(src=assets+'/images/pdp1.jpg')
      .col-lg-5.col-xl-7
        include:markdown-it ../markdown/workshops/group-fitness.md
      .col-lg-4.col-xl-3
        a(href='/wdp').btn.btn-lg.btn-block.btn-primary Find a workshop near you 

  .container.b-b
    .row.m-t-lg
      .col-lg-3.col-xl-2
        img(src=assets+'/images/pdp1.jpg')
      .col-lg-5.col-xl-7
        include:markdown-it ../markdown/workshops/personal-fitness.md
      .col-lg-4.col-xl-3
        a(href='/wdp').btn.btn-lg.btn-block.btn-primary Find a workshop near you 

  include ./block/form
