extends ./layout/layout

block content
  .container
    .row
      .col-sm-12.m-t-lg
        h1 Workshops
        p.lead Build your expertise as an instructor with hands on training in practical workshops.

  .container.b-b
    .row.m-y-lg
      .col-lg-3.col-xl-2
        img(src=assets+'/products/group-x-practical.jpg')
      .col-lg-5.col-xl-7
        h2 Group X Instructor Workshop
        p CEUs 8
        p This supplemental in-person workshop focuses on the practical application of group fitness leadership techniques. A complement to the [Group X Instructor Certification](/courses/group-x), this one-day event will help you practice your skills and develop confidence for leading freestyle or pre-designed classes.
      .col-lg-4.col-xl-3
        a(href='/workshops/group-x').btn.btn-lg.btn-block.btn-primary Learn More

  .container.b-b
    .row.m-y-lg
      .col-lg-3.col-xl-2
        img(src=assets+'/products/personal-fitness-trainer.jpg')
      .col-lg-5.col-xl-7
        h2 Personal Fitness Trainer Workshop
        p CEUs 8
        p This supplemental in-person workshop focuses on the practical application of fitness assessments and weight room coaching skills. A complement to the Personal Fitness Training Certification Program, this workshop will help you refine your knowledge and practice your skills in a one-day event that balances informative presentations with hands-on training.
      .col-lg-4.col-xl-3
        a(href='/workshops/personal-fitness-trainer').btn.btn-lg.btn-block.btn-primary Learn More
