extends ../layout/layout

block content

  //- .bg-grey.m-b-lg
    +title( 'Onsite Workshops', '', 'm-b-md p-t-lg' )
    .clearfix
  .container.m-b-lg
    .row.m-t-lg
      .col-lg-6
        img(src=assets+'/products/group-ex-practical.jpg')
      .col-lg-6
        include:markdown-it ../../markdown/workshops/group-fitness.md
      .col-lg-12
        h2.m-b Upcoming Workshops
        p.lead All workshops are 8am-5pm. Call today to reserve your spot! 
          a.m-b(href='tel:'+phone)=phone
        //- pre=JSON.stringify( gex, null, 2 )
        table.table.table-striped
          thead
            tr
              th Location
              th Date
              th Address
          tbody
            each workshop in gex
              tr
                each item in workshop
                  td=item
