extends ../layout/layout

block content

  //- .bg-grey.m-b-lg
    +title( 'Onsite Workshops', '', 'm-b-md p-t-lg' )
    .clearfix
  .container.m-b-lg
    .row.m-t-lg
      .col-lg-6
        img(src=assets+'/products/personal-fitness-trainer.jpg')
      .col-lg-6
        include:markdown-it ../../markdown/workshops/personal-fitness.md
      .col-lg-12
        h2.m-b Upcoming Workshops
        p.lead All workshops are 8am-5pm. Call today to reserve your spot! 
          a.m-b(href='tel:'+phone)=phone
        table.table.table-striped
          thead
            tr
              th Location
              th Date
              th Address
          tbody
            tr
              td Herndon, VA
              td January 30th
              td Sport and Health Worldgate, 13037 Worldgate Dr., Herndon, VA
            tr
              td Richmond, VA
              td February 6th
              td University of Richmond – Weinstein Center, 28 Westhampton Way, Richmond, VA 23173
            tr
              td Phoenix, AZ
              td February 20th
              td EOS Fitness, 5031 E. Elliot Road, Phoenix, AZ 85004
            tr
              td NY, NY
              td February 27th
              td Vanderbilt YMCA, 224 E. 47th Street, NY, NY 10017
            tr  
              td Tampa, FL
              td February 27th
              td Northwest Hillsborough YMCA, 8950 W. Waters Ave., Tampa, FL 33615
            tr
              td Jacksonville, FL
              td February 27th
              td Bailey's Health and Fitness, 1352 Beach Blvd, Jacksonville, FL 32250
            tr
              td Los Angeles, CA
              td March 5th
              td Ketchum Family YMCA; 401 S. Hope Street, Los Angeles, CA 90071
            tr
              td Hollywood, FL
              td March 6th
              td Greater Hollywood YMCA, 3161 Taft Street, Hollywood, FL 33021
            tr
              td Wallingford, CT
              td March 6th
              td Wallingford Family YMCA, 8 North Turnpike Road, Wallingford, CT 06492
            tr
              td Lowell, MA
              td March 12th
              td University of Massachusetts Campus Recreation, 100 Pawtucket St., Lowell, MA 01854
            tr
              td Emmitsburg, VA
              td March 13th
              td Mt. St. Mary’s University Knott, 16300 Old Emmitsburg Road, Emmitsburg, VA 21727
            tr
              td St. Louis, MO
              td March 19th
              td C.S. Fitness, 3227 Morganford Road, St. Louis, MO 63116
            tr
              td Tampa, FL
              td April 2
              td University of Tampa, 401 W. Kennedy Blvd., Tampa, FL 33606
            tr
              td Overland Park, KS
              td April 9th
              td Jewish Community Center of Kansas City, 5801 W. 115 St. Suite 101, Overland Park, KS 66211
            tr
              td Bowling Green, OH
              td April 17th
              td Bowling Green State University, 1411 Ridge Rd., Bowling Green, OH 43403
