extends ../layout/layout

block content

  //- .bg-grey.m-b-lg
    +title( 'Onsite Workshops', '', 'm-b-md p-t-lg' )
    .clearfix
  .container.m-b-lg
    .row.m-t-lg
      .col-lg-6
        img(src=assets+'/products/personal-fitness-trainer.jpg')
      .col-lg-6
        include:markdown-it ../../markdown/workshops/personal-fitness.md
      .col-lg-12
        h2.m-b Upcoming Workshops
        p.lead Call today to reserve your spot! 
          a.m-b(href='tel:'+phone)=phone
        table.table.table-striped
          thead
          tbody
            tr
              td Herndon, VA
              td January 30th
              td Sport and Health Worldgate, 13037 Worldgate Dr., Herndon, VA
            tr
              td Richmond, VA
              td February 6th
              td University of Richmond – Weinstein Center, 28 Westhampton Way, Richmond, VA 23173
            tr
              td Phoenix, AZ
              td February 20th
              td EOS Fitness, 5031 E. Elliot Road, Phoenix, AZ 85004
            tr
              td NY, NY
              td February 27th
              td Vanderbilt YMCA, 224 E. 47th Street, NY, NY 10017
            tr  
              td Tampa, FL
              td February 27th
              td Northwest Hillsborough YMCA, 8950 W. Waters Ave., Tampa, FL 33615
            tr
              td Lowell, MA
              td March 12th
              td University of Massachusetts Campus Recreation, 100 Pawtucket St., Lowell, MA 01854
            tr
              td Emmitsburg, VA
              td March 13th
              td Mt. St. Mary’s University Knott, 16300 Old Emmitsburg Road, Emmitsburg, VA 21727
