extends ../layout/layout

block content

  //- .bg-grey.m-b-lg
    +title( 'Onsite Workshops', '', 'm-b-md p-t-lg' )
    .clearfix
  .container.m-b-lg
    .row.m-t-lg
      .col-lg-6
        img(src=assets+'/products/personal-fitness-trainer.jpg')
      .col-lg-6
        include:markdown-it ../../markdown/workshops/personal-fitness.md
        .clearfix
        p.h3.text-sans.m-b-md.pull-left $199
        p.m-l.pull-left 8 CEUs
      .col-lg-12
        h2.m-b Upcoming Workshops
        p.lead All live workshops are 8am-5pm. Call today to reserve your spot! 
          a.m-b(href='tel:'+phone)=phone
        //- pre=JSON.stringify( pft, null, 2 )
        table.table.table-striped
          thead
            tr
              th Location
              th Date
              th Address
          tbody
            each workshop in pft
              tr
                each item in workshop
                  td=item
