include ./mixins
block vars
doctype html
html
  block head
    include ./includes/head
  body
    block navigation
      .mobile-nav-spacer.hidden-md-up
      include ../block/navtop
      include ../block/nav
      include ../block/mobilenav

    block content

    block foot
      include ./includes/foot

    block scripts
      each script in javascripts
        script(src=script)
