//- foot.jade
.foot
  .container
    .row.m-b-md
    .row.m-b
      .col-md-12
        p.text-center.text-lg
          a(href='#').m-r-md
            i.fa.fa-facebook
          a(href='#').m-r-md
            i.fa.fa-twitter
          a(href='#').m-r-md
            i.fa.fa-instagram
          a(href='#').m-r-md
            i.fa.fa-linkedin
          a(href='#').m-r-md
            i.fa.fa-youtube
          a(href='#')
            i.fa.fa-pinterest-p
    .row.m-b
      .col-md-4
        ul.no-bull.text-center.p-a-0
          li.m-b
            a(href='/about') About
          //- li.m-b
            a(href='/tagmgmt') Tag Mgmt. Notes
      .col-md-4
        ul.no-bull.text-center.p-a-0
          //- li.m-b
            a(href='/') Product Detail Page
          li.m-b
            a(href='/404-not-found') 404
      .col-md-4
        ul.no-bull.text-center.p-a-0
          //- li.m-b
            a(href='/content') Content Example
          //- li.m-b
            a(href='/courses') Courses
    .row
      .col-md-12.m-b
        p.text-center 
          //- a.p-r-md(href='mailto:support@afaa.com') 
            i.fa.fa-envelope 
            |  afaacares@afaa.com
          a(href='tel:#')
            i.fa.fa-phone 
            |  #{phone}
      .col-md-12
        p.text-center.colophon &copy; 2014 Aerobics and Fitness Association of America | 12345 E. Novelty Lane, Chandler, AZ 92886 | 
          a(href='#') Privacy&nbsp;Policy
          |  &nbsp; 
          a(href='#') Terms&nbsp;&amp;&nbsp;Conditions
