//- foot.jade
.foot
  .container
    .row.m-b-md
    .row.m-b
      .col-md-12
        p.text-center.text-lg
          a(href='http://www.facebook.com/afaa.fit').m-r-md
            i.fa.fa-facebook
          a(href='http://twitter.com/afaa_fit').m-r-md
            i.fa.fa-twitter
          //- a(href='https://plus.google.com/u/0/b/113988623466414893618/113988623466414893618').m-r-md
            i.fa.fa-google-plus
          a(href='http://instagram.com/afaa_certified').m-r-md
            i.fa.fa-instagram
          a(href='http://www.linkedin.com/company/aerobics-and-fitness-association-of-america').m-r-md
            i.fa.fa-linkedin
          a(href='http://www.youtube.com/user/AFAAfitness').m-r-md
            i.fa.fa-youtube
          a(href='http://pinterest.com/afaa')
            i.fa.fa-pinterest-p
    .row.m-b
      .col-md-4.text-center
        h4.m-b Get Certified
        ul.no-bull.p-a-0
          li.m-b
            a(href='/courses/group-x') Group Excercise Certification
          li.m-b
            a(href='/courses/certified-personal-trainer') Personal Trainer Certification
      .col-md-4.text-center
        h4.m-b Recertify
        ul.no-bull.p-a-0
          li.m-b
            a(href='/courses') Continuing Education
          li.m-b
            a(href='/workshops') Workshops
          li.m-b
            a(href='/recertify') How to Recertify
      .col-md-4.text-center
        h4.m-b Connect
        ul.no-bull.p-a-0
          li.m-b
            a(href='/about') About AFAA
          li.m-b
            a(href='/contact') Contact AFAA
          li.m-b
            a(href='/preferred-providers') Preferred Providers
    .row
      //- .col-md-12.m-b
        p.text-center 
          //- a.p-r-md(href='mailto:support@afaa.com') 
            i.fa.fa-envelope 
            |  afaacares@afaa.com
          a(href='tel:#')
            i.fa.fa-phone 
            |  #{phone}
      .col-md-12
        p.text-center.colophon &copy; 2016 Aerobics and Fitness Association of America | 1750 E. Northrop Blvd., Suite 200, Chandler, AZ 85286 | 
          a(href='/privacy-policy') Privacy Policy 
          |  | 
          a(href='/terms-and-conditions') Terms & Conditions
    .row.b-t.m-t
      .col-md-12.m-t-lg
        h3.text-center Dev Links
        ul.no-bull.text-center.p-a-0
          li.m-b
            a(href='/style') Style Guide
          li.m-b
            a(href='/404-not-found') 404
          //- li.m-b
            a(href='/tagmgmt') Tag Mgmt. Notes
