extends ../layout/layout.jade

block content
  //- .bg-grey.m-b-lg
    +title( 'Education Products', 'For a better life', 'm-b-md p-t-lg' )
    .clearfix
  include ../block/product
  if product.relatedProducts
    include ../block/related
